:root {
    --color-primary: #04044c;
    --color-secondary: #cd8800;
    --color-tertiary: #8b635c;
    --color-accent: #8aa8a1;
    --color-light: #ced3dc;
    --primary-font: 'Domine', serif;
    --title-font: 'Germania One', system-ui, sans-serif;
}

body {
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-family: var(--primary-font);
}

header {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-family: var(--primary-font);
    font-size: 1.5rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    border-bottom: #04044c solid 10px;
}

.header-logo {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 1rem;
}

.header-logo img {
    grid-column: 1/2;
    width: 100%;
    height: auto;
    max-width: 64px;
    padding: 1rem 0 1rem 1rem;
}

.logo-text {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.header-logo p.logo-title {
    font-family: var(--title-font);
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.header-logo p.logo-motto {
    font-size: 0.75rem;
    text-align: left;
    margin: 0;
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
    position: relative;
    content: "";
    display: inline-block;
}

#myButton::before {
    content: "☰";
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
}

#myButton.open::before {
    content: "✖";

}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

ul.navigation.open {
    max-height: 500px;
}

ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--color-primary);
    text-decoration: none;
}

li.active a {
    background-color: rgba(0, 0, 0, 0.15);
}

ul.navigation li a:hover {
    background-color: #04044c;
    color: var(--color-secondary);
}

.display-buttons {
    display: none;
}

.home figure img {
    width: 100%;
    height: auto;
}

.home figure figcaption {
    text-align: right;
    font-size: .75rem;
}

.home p {
    font-size: 1.25rem;
    padding: 0 20px;
}

.home a.join-link {
    display: block;
    text-align: center;
    color: var(--color-primary);
    font-size: 1.25rem;
}


.events,
.current-weather,
.forecast {
    background-color: var(--color-light);
    border: 3px solid var(--color-tertiary);
    border-radius: 10px;
    margin: 1rem;
    padding: 0 15px;
}

.events h2,
.current-weather h2,
.forecast h2 {
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-light);
    font-family: var(--title-font);
    padding: 10px;
    border-radius: 5px;
}

.current-weather figure img#weather-icon {
    width: 64px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.current-weather figure figcaption#weather-description {
    text-align: center;
    font-size: 1rem;
    color: var(--color-primary);
}

.current-weather p.current-temp {
    text-align: center;
    font-size: 1.5rem;
}

.forecast p {
    text-align: center;
    font-size: 1rem;
}

#spotlight-cards h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--title-font);
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 10px;
}

.directory h1,
.home h1 {
    font-family: var(--title-font);
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
}

.directory p {
    font-size: 1.25rem;
    text-align: left;
    padding: 0 5rem;
    margin: 0.5rem 0;
}

#membership-cards section,
#spotlight-cards section {
    background-color: var(--color-light);
    border: 4px solid var(--color-tertiary);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

#membership-cards section h2, #spotlight-cards section h2 {
    font-family: var(--title-font);
    font-size: 2rem;
    text-align: center;
}

#membership-cards section img, #spotlight-cards section img {
    padding: 1.5rem;
}

#membership-cards section a, #spotlight-cards section a {
    color: var(--color-primary);
}

.directory p.icon-credit {
    font-size: .75rem;
    text-align: center;
}

footer {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-family: var(--primary-font);
    font-size: .75rem;
    padding: 2rem;

    border-top: #04044c solid 10px;
}

.socials {
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.socials a {
    text-decoration: none;
    padding: 0.5rem;
}

.socials a img {
    width: 44px;
    height: 44px;
    padding: 5px;
    border: 2px solid var(--color-primary);
    border-radius: 22px;
}