
@media screen and (min-width: 1300px) {

    .header {
        grid-template-columns: 1fr 1fr;
    }

    .header-logo img {
        max-width: 200px;
        padding: 2rem 0 2rem 2rem;
    }

    .header-logo p.logo-title {
        font-size: 3rem;
    }

    .header-logo p.logo-motto {
        font-size: 2rem;
    }

    #myButton {
        display: none;
    }

    ul.navigation,
    ul.navigation.open {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        max-height: none;
        overflow: visible;
        transition: none;

    }

    .home h1 {
        font-size: 3rem;
    }

    .home p {
        font-size: 2rem;
    }

    .home-cards {
        grid-template-columns: 2.5fr 1fr 1fr;
        grid-template-rows: auto auto;
    } 

    .events {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .events h2,
    .current-weather h2,
    .forecast h2,
    #spotlight-cards h3 {
        font-size: 2.5rem;
    }

    .events ul li {
        font-size: 2rem;
    }

    .current-weather figure figcaption#weather-description {
        font-size: 2rem;
    }

    .current-weather p.current-temp {
        font-size: 3.5rem;
    }

    .current-weather {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .forecast {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .forecast p {
        font-size: 2rem;
    }

    #spotlight-cards {
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    #spotlight-cards h3 {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    #spotlight-cards section {
        grid-row: 2/3;
        display: flex;
    }

    .member-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    footer {
        font-size: 1.25rem;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .socials {
        grid-column: 2/3;
    }
}
